@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #FFFFFF;
  height: 100%;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrapper {
  background-color: #FBDB93;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: left;
  margin: 1rem auto;
  color: #8A2D3B;
}

p {
  font-weight: 400;
  font-size: 30px;
  color: #641B2E;
}

header {
  width: 100%;
  background: #6C5CE7;
  color: #FFFFFF;
}
header .header-container {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 3rem;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
header .header-container .logo {
  margin-right: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  white-space: nowrap;
}
header .header-container nav .menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header-container nav .menu li {
  margin: 0 0.5rem;
}
header .header-container nav .menu li a {
  color: #FFFFFF;
  padding: 1rem 1rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
header .header-container nav .menu li a:hover {
  background-color: rgba(129, 236, 236, 0.3490196078);
  border-radius: 4px;
}
header .header-container .user-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}
header .header-container .user-panel a {
  display: block;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  text-decoration: none;
  -webkit-transition: stroke 0.2s ease-in-out;
  transition: stroke 0.2s ease-in-out;
}
header .header-container .user-panel svg {
  width: 24px;
  height: 24px;
  stroke: #2D3436;
}
header .header-container .user-panel a:hover svg {
  stroke: rgba(129, 236, 236, 0.3490196078);
  cursor: pointer;
}

.elegant-quote {
  background-color: #81ECEC;
  border-radius: 15px;
  padding: 2rem;
  max-width: 360px;
  margin: 2rem 2rem 2rem auto;
  font-family: "Georgia", serif;
  position: relative;
}
.elegant-quote blockquote {
  margin: 0;
  padding: 0;
  position: relative;
}
.elegant-quote .quote-text {
  padding: 0 12px;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 1.5rem;
  position: relative;
}
.elegant-quote .quote-text::before {
  font-size: 3rem;
  color: #FFFFFF;
  position: absolute;
  content: "“";
  top: -1rem;
  left: -1.5rem;
}
.elegant-quote .quote-text::after {
  font-size: 3rem;
  color: #FFFFFF;
  position: absolute;
  content: "”";
  bottom: -2rem;
  right: -1.5rem;
}
.elegant-quote .quote-author {
  color: #FFFFFF;
  display: block;
  letter-spacing: 0.5px;
  text-align: right;
}

.h-intro {
  padding: 50px 0;
}
.h-intro-text {
  text-align: center;
}

.h-offers {
  margin-bottom: 70px;
}
.h-offers-cata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.h-offers-cata-book {
  width: calc(50% - 10px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f03d3d;
  background-clip: border-box;
  padding: 20px;
}
.h-offers-cata-book img {
  max-width: 200px;
}
.h-offers-cata-book p {
  margin-left: 20px;
  font-size: 20px;
}

.h-leave {
  margin-bottom: 70px;
}

footer {
  background-color: #641B2E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 8rem;
  padding: 2rem 4rem;
}
footer .footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
footer .footer-box h3 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #f03d3d;
}
footer .footer-box:first-child {
  padding-right: 2.5rem;
  width: 40%;
}
footer .footer-box:first-child p {
  text-align: start;
  font-size: 1.2rem;
  color: #f03d3d;
}
footer .footer-box:nth-child(2) {
  padding-left: 1.5rem;
  width: 40%;
}
footer .footer-box:nth-child(2) a {
  display: block;
  font-size: 1.1rem;
  text-decoration: none;
  color: #FBDB93;
}
footer .footer-box:last-child {
  width: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-box:last-child h3 {
  text-align: center;
}
footer .footer-box:last-child .footer-box-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
  width: 152px;
  line-height: 0;
}
footer .footer-box:last-child .footer-box-logos a {
  display: block;
}
footer .footer-box:last-child .footer-box-logos a img {
  display: block;
  width: 40px;
  height: 40px;
}/*# sourceMappingURL=main.css.map */