$color-primary: #8A2D3B;
$color-bg: #FBDB93;
$color-text: #641B2E;
$color-block: #f03d3d;

* {
    margin: 0;
}

.wrapper {
    background-color: $color-bg;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    color: $color-primary;
}

p {
    font-weight: 400;
    font-size: 30px;
    color: $color-text;
}

.h-intro {
    padding: 50px 0;

    &-text {
        text-align: center;
    }
}

.h-offers {
    margin-bottom: 70px;

    &-cata {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        &-book {
            width: calc(50% - 10px);
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            background-color: $color-block;
            background-clip: border-box;
            padding: 20px;

            img {
                max-width: 200px;
            }

            p {
                margin-left: 20px;
                font-size: 20px;
            }
        }
    }
}

.h-leave {
    margin-bottom: 70px;
}

footer {
    background-color: $color-text;
    display: flex;
    justify-content: space-between;
    min-height: 8rem;
    padding: 2rem 4rem;
    .footer-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h3 {
            margin-bottom: 2rem;
            font-size: 1.5rem;
            color: $color-block;
        }
    }

    .footer-box:first-child {
        // background-color: purple;
        padding-right: 2.5rem;
        width: 40%;

        p {
            text-align: start;
            font-size: 1.2rem;
        }
    }

    .footer-box:nth-child(2) {
        // background-color: red;
        padding-left: 1.5rem;
        width: 40%;

        a {
            display: block;
            font-size: 1.1rem;
            text-decoration: none;
            color: black;
        }
    }

    .footer-box:last-child {
        // background-color: darkblue;
        width: 20%;
        align-items: center;

        h3 {
            text-align: center;
        }

        .footer-box-logos {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 0.8rem;
            width: 152px;
            line-height: 0;

            a {
                display: block;

                img {
                    display: block;
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}